<ul class="network-icon" aria-hidden="true">
    {{ $university := .Params.university }}
  
    {{ range .Params.social }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
  
      <li>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
        {{ if in (slice "Custom_University") $pack }}
          {{ if in (slice "CU") $university }}
          <img src="/media/CU.svg" alt="CU" class="svg-icon svg-baseline">
          {{ else if in (slice "Utah") $university}}
          <img src="/media/Utah_U.svg" alt="CU" class="svg-icon svg-baseline">
          {{ end }}
        {{ else }}
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
        {{ end }}
        </a>
      </li>
    {{ end }}
  </ul>